@import url('//fonts.googleapis.com/css?family=Covered+By+Your+Grace');
@import url("pygments.css");

@media all and (min-width: 800px) {
    body {
        width: 800px;
        margin: 0 auto;
    }
    .highlight pre {
        font-size: 0.9em;
        padding: 10px;
    }
}

@media all and (min-width: 600px) and (max-width:799px) {
    body {
        width: 500px;
        margin: 0 auto;
    }
    .highlight pre {
        font-size: 0.8em;
        padding: 8px;
    }
}

@media all and (min-width: 400px) and (max-width:599px) {
    body {
        width: 400px;
        margin: 0 auto;
    }
    .highlight pre {
        font-size: 0.8em;
        padding: 5px;
    }
}

@media all and (max-width:399px) {
    body {
        width: 340px;
        margin: 0 auto;
    }
    .highlight pre {
        font-size: 0.6em;
        padding: 2px;
    }
}

body {
    font: 16px arial, sans-serif;
    color: #111;
    background-color: #fafafa;
}

a, a:hover, a:visited {
    color: #101087;
}

#banner h1 {
    font-family: Covered By Your Grace;
    font-size: 50px;
}

h1 a, h1 {
    text-decoration: none;
    color: #811 !important;
}

h1.entry-title {
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

.highlight pre {
    border: 1px solid #ccc;
    background-color: #f1f1f1;

    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

#sidebar {
    display: none;
}

hr {
    margin-top: 30px;
    color: #ccc;
}

img {
    max-width: 100%;
}

.footer-menu {
    padding: 10px;
}
