{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}

{% if articles %}

{% set latest_article = articles[0] %}
<section id="content" class="body">
    <aside id="featured">
        <article>
            <h1 class="entry-title">
                <a href="{{ SITEURL }}/{{ latest_article.url }}">{{ latest_article.title }}</a>
            </h1>
            {% with article = latest_article %}
            {% include 'article_infos.html' %}
            {% endwith %}
            {{ latest_article.content }}
        </article>
    </aside>
    <hr />

    {% with articles = articles[1:] %}
    {% set list_title = 'Other articles' %}
    {% include "article_list.html" %}
    {% endwith %}
</section>

{% else %}
<section id="content" class="body">
<p>No articles found.</p>
<h2>Pages</h2>
{% for page in PAGES %}
    <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}
</section>
{% endif %}

{% endblock content %}
